*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  color-scheme: dark;
}

.container{
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task_list{
  width: 550px;
  background-color: #333;
  border-radius: .7rem;
} 

.card{
  padding: 2rem;
  flex-direction: column;
  justify-content: flex-start;
}

.card_title{
  font-size: 2rem;
}

.card_box{
  margin-top: 1rem;
}

input{
  width: 100%;
  height: 2.5em;
  margin: .5rem;
  padding-left: .5rem;
  border: none;
}
input:hover{
  height: 3em;
  border-bottom: 1px solid #888;
  transition: all .3s;
}

input.btn{
  width: 100%;
  height: 2.5em;
  margin: .5rem;
  padding-left: .5rem;
  border: none;
  cursor: pointer;
}
.btn:hover{
  background-color: #888;
}

select{
  width: 100%;
  height: 2.5em;
  margin: .5rem;
  padding-left: .5rem;
  border: none;
  color: #888;
}
select:hover{
  height: 3em;
  border-bottom: 1px solid #888;
  transition: all .3s;
}

textarea{
  width: 100%;
  height: 5em;
  margin: .5rem;
  padding: .5rem;
  border: none;
}

.card_action{
  margin-top: 2rem;
}

#task_title{
  font-size: 2rem;
}

.input_fields{
  margin: 1rem 0;
}

.clear_tasks{
 padding: .5em 1rem;
 /* border-radius: .5rem; */
 border: none;
 text-decoration: none;
 color: white;
 background-color: #666;
}
.clear_tasks:hover{
  background-color: #888;
}